Aditya Dwi Aryanto | 103132400027

Fauzi Romadhoni    | 103132400025

**Link Dataset : https://drive.google.com/drive/folders/1VShnw0oviVKqkMlvLSyxbuJh1YWFc8sH?usp=sharing**

**Impor csv**

In [69]:
import csv

**Hitung nilai fuzzy servis**

In [70]:
# Fungsi hitung nilai fuzzy servis
def hitung_servis(n):
    d = {"rendah": 0, "sedang": 0, "tinggi": 0}
    if n <= 45:
        d["rendah"] = 1
    elif 45 < n < 65:
        d["rendah"] = (65 - n) / (65 - 45)
        d["sedang"] = (n - 45) / (65 - 45)
    elif 65 <= n <= 75:
        d["sedang"] = 1
    elif 75 < n < 90:
        d["sedang"] = (90 - n) / (90 - 75)
        d["tinggi"] = (n - 75) / (90 - 75)
    else:
        d["tinggi"] = 1
    return d

**Hitung nilai fuzzy harga**

In [71]:
# Fungsi hitung nilai fuzzy harga
def hitung_harga(n):
    d = {"murah": 0, "normal": 0, "mahal": 0}
    if n <= 3:
        d["murah"] = 1
    elif 3 < n < 5:
        d["murah"] = (5 - n) / (5 - 3)
        d["normal"] = (n - 3) / (5 - 3)
    elif 5 <= n <= 7:
        d["normal"] = 1
    elif 7 < n < 9:
        d["normal"] = (9 - n) / (9 - 7)
        d["mahal"] = (n - 7) / (9 - 7)
    else:
        d["mahal"] = 1
    return d

**Rules**

In [72]:
# Proses inferensi rule base
def inferensi(f_servis, f_harga):
    t1 = min(f_servis["tinggi"], f_harga["murah"])
    t2 = min(f_servis["tinggi"], f_harga["normal"])
    t3 = min(f_servis["sedang"], f_harga["murah"])
    tinggi = max(t1, t2, t3)

    r1 = f_servis["rendah"]
    r2 = f_harga["mahal"]
    r3 = min(f_servis["sedang"], f_harga["normal"])
    rendah = max(r1, r2, r3)

    return rendah, tinggi

**hitung skor (metode sugeno)**

In [73]:
# Hitung skor akhir
def defuzzifikasi(r, t):
    pembilang = (r * 45) + (t * 95)
    penyebut = r + t
    return pembilang / penyebut if penyebut != 0 else 0

**Main**

In [74]:
def main():
    hasil_analisis = []

    # Membaca data dari file CSV
    with open('bengkel_jawa.csv', mode='r', encoding='utf-8-sig') as file:
        reader = csv.DictReader(file)
        for baris in reader:
            if not baris.get("id"):
                continue

            # Konversi data input
            val_servis = float(baris["servis"])
            val_harga = float(baris["harga"])

            # Eksekusi Logika Fuzzy
            f_servis = hitung_keanggotaan_servis(val_servis)
            f_harga = hitung_keanggotaan_harga(val_harga)
            i_rendah, i_tinggi = proses_inferensi(f_servis, f_harga)
            skor = defuzzifikasi_sugeno(i_rendah, i_tinggi)

            # Simpan hasil sementara
            hasil_analisis.append({
                "id": baris["id"],
                "nama": baris["nama_bengkel"],
                "servis": val_servis,
                "harga": val_harga,
                "lokasi": baris["lokasi"],
                "skor": skor
            })

    # Urutkan berdasarkan skor tertinggi
    hasil_analisis.sort(key=lambda x: x["skor"], reverse=True)

    # Tampilan Output Tabel
    line = "-" * 105
    print(line)
    print(f"{'RANK':<5} | {'ID':<4} | {'NAMA BENGKEL':<25} | {'SERVIS':<8} | {'HARGA':<8} | {'LOKASI':<15} | {'SKOR':<8}")
    print(line)

    for i, b in enumerate(hasil_analisis[:5], 1):
        print(f"{i:<5} | {b['id']:<4} | {b['nama'][:25]:<25} | {b['servis']:<8.1f} | {b['harga']:<8.1f} | {b['lokasi']:<15} | {b['skor']:<8.2f}")
    print(line)

if __name__ == "__main__":
    main()

---------------------------------------------------------------------------------------------------------
RANK  | ID   | NAMA BENGKEL              | SERVIS   | HARGA    | LOKASI          | SKOR
---------------------------------------------------------------------------------------------------------
1     | 13   | Auto Jaya Motor           | 88.0     | 2.0      | Cilacap         | 95.00
2     | 2    | Garasi Maju Mobil         | 96.0     | 5.0      | Jakarta         | 95.00
3     | 6    | Bengkel Berkah Utama      | 98.0     | 3.0      | Yogyakarta      | 95.00
4     | 7    | Pusat Sentosa Utama       | 65.0     | 3.0      | Jakarta         | 95.00
5     | 43   | Bengkel Maju Gemilang     | 97.0     | 4.0      | Malang          | 95.00
---------------------------------------------------------------------------------------------------------